<head>
    <title>XinhThoiRoi.Net</title>
    <base href="https://pckhien.bitbucket.io">
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link rel="stylesheet" href="assets/css/main.css"/>
    <noscript>
        <link rel="stylesheet" href="assets/css/noscript.css"/>
    </noscript>
</head>
<body>
<!--<nav id="nav">-->
    <!--<ul class="links">-->
        <!--<li class="active"><a href="index.html">Home</a></li>-->
        <!--<li><a href="/about">Contact</a></li>-->
        <!--<li><a href="/about">Login</a></li>-->
    <!--</ul>-->
    <!--<ul class="icons">-->
        <!--<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>-->
        <!--<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>-->
        <!--<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>-->
        <!--<li><a href="#" class="icon fa-github"><span class="label">GitHub</span></a></li>-->
    <!--</ul>-->
<!--</nav>-->
<!-- Wrapper -->
<div id="wrapper" class="fade-in">
    <!-- Header -->
    <header id="header">
        <a href="index.html" class="logo">Xinh Thoi Roi</a>
    </header>


    <!-- Main -->
    <div id="main">
        <app-root></app-root>
    </div>

    <!-- Copyright -->
    <div id="copyright">
        <ul>
            <li>&copy; XinhThoiRoi.Net</li>
            <li>Design: <a href="http://xinhthoiroi.net/">XinhThoiRoi.Net</a></li>
        </ul>
    </div>
    <div class="background fixed" style="transform: none;"></div>
</div>
<script type="text/javascript" src="inline.bundle.js"></script><script type="text/javascript" src="polyfills.bundle.js"></script><script type="text/javascript" src="styles.bundle.js"></script><script type="text/javascript" src="vendor.bundle.js"></script><script type="text/javascript" src="main.bundle.js"></script></body>
</html>